#body   {
    background-color: #c9c8b2;
}

#navBar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#navBar button {
    background-color: #873b09;
    color: white;
    border: none;
    cursor: pointer;
}
