#body {
  background-image: linear-gradient(to bottom, #2c3131, #151413);
}

#navBar {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

#navBar button {
    background-color: #873b09a0;
    color: #ffffffa0;
    border: none;
    cursor: pointer;
    font-family: "Rubik";
    font-size: clamp(12px, 20px, 32px);
    transition: background-color 150ms ease-out;
}

#navBar button:hover {
    background-color: #873b09f0;
    color: #fffffff0;
}

.body-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #a5a490;
    padding: clamp(0px, 60px, 100px);
}

.title {
    display: flex;
    position: relative;
    color: #c9c8b2;
    font-size: clamp(11px, 18px, 28px);
}

.main-text {
    display: flex;
    align-items: center;
    color: #a5a490;
    flex-shrink: 100;

    font-size: clamp(11px, 18px, 28px);
}